body {
    background-color: rgb(240, 82, 82);
    background-image: url(https://www.publicdomainpictures.net/pictures/240000/velka/holiday-background-1509545703N7q.jpg);
}

#title {
    text-align: center;
    color: rgb(224, 205, 205)
}

.description {
    margin-left: 100px;
    font-size: 1.5em;
}

#input__div, #button__div, #random__div, #translate {
    display: flex;
    align-items: center;
    justify-content: center;
}

#input__field {
    border: solid lightgray;
    height: 80px;
    font-size: 1.5em;
    text-align: center;
    width: 60%;
}

#button__div {
    padding: 50px;
    flex-direction: row;   
}

.language__button {
    margin: 20px;
}

button {
    width: 20em;  
    height: 2em;
    background-color: rgba(182, 172, 172, 0.986);
    border-radius: 6px;
    font-weight: 700
}

#random__div {
    flex-direction: row;
}

#translate__div {
    background-color: white;
    border: solid lightgray;
    height: 80px;
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    margin: 50px;
    padding-top: 35px;
}


